
@{
    ViewBag.Title = "Index";
    Layout = "~/views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <form id="frm">
        <div class="col-lg-6 col-lg-offset-3">
            Usuario:
            <input type="text" name="user" />
            Clave:
            <input type="password" name="password" />
            <input type="submit" class="btn btn-success" value="Entrar" />
        </div>
    </form>
</div>

@section scripts
{
<script>
    $(document).ready(function () {
        $("#frm").submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Access/Enter")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/")";
                }
                else
                {
                    alert(data)
                }
            })
        })
    })
</script>
}