@model List<cursomvc.Models.TableViewModels.UserTableViewModel>
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Usuarios</h3>
<br/>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/User/add")'" value="Agregar Nuevo"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Edad</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Email</td>
                    <td>@oElemento.Edad</td>
                </tr>
            }
        </table>
    </div>
</div>